NEXT_PUBLIC_SUPABASE_URL=https://uzhyxxkvskhrorgbbgby.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6aHl4eGt2c2tocm9yZ2JiZ2J5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMTkzNzMsImV4cCI6MjA5Mjg5NTM3M30.PCU3Nso6U-noRLSMvZ8uobZbsk1HgDlVEakcANbtsmA
